<%- include('./layout/header.ejs')%>
  <div class="container hero-list">
    
  </div>
<%- include('./layout/footer.ejs')%>
<script type="text/html" id="hero">
      <p><strong>Id:</strong>{{id}}</p>
      <p><strong>姓名:</strong>{{name}}</p>
      <p><strong>性别:</strong>{{gender}}</p>
      <p><strong>添加时间:</strong>{{time}}</p>
</script>
<script>
  $.ajax({
    type : 'get',
    url : '/heroInfo',
    data : {
      id : location.search.split('=')[1]
    },
    success : function(res){
      if(res.code == 200){
        let info = template('hero',res.data[0])
        $('.hero-list').html(info)
      }
    }
  })
</script>